@using ViewModels
@model IEnumerable<TeacherViewModel>


<br><br>
<div class="row">
    @Html.ActionLink("Add Teacher", "Add", "Teacher", null, new { @class = "editbtn" })
</div>
<br>
<div class="card-body">
    <h5 class="card-title" style="color:#980827">Teachers</h5>
    <div class="table-responsive">
        <table class="mb-2 table table-hover table-striped ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>BirthDate</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TeacherViewModel Teacher in Model)
                {
                    <tr>
                        <th scope="row">@Teacher.ID</th>
                        <td>@Teacher.Name </td>
                        <td>@Teacher.BirthDate.ToLongDateString()</td>
                        <td>
                            <a href="@Url.Action("Update","Teacher", new { id = Teacher.ID })" class="fa fa-pencil"
                               aria-hidden="true" style="font-size:25px ; color :#17700f">
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete","Teacher", new { id = Teacher.ID })" class="fa fa-trash"
                               aria-hidden="true" style="font-size:25px ; color :#821d1d">
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>







