@using ViewModels
@model AdminEditViewModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sign In</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="ArchitectUI HTML Bootstrap 4 Dashboard Template">

    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/Css/Style.css" rel="stylesheet">
</head>
<body>
    <div class="body">
        <div id="form_wrapper">
            <div id="form_left">
                <img src="~/assets/undraw_true_friends_c94g.svg" alt="child icon">
            </div>
            @using (Html.BeginForm("Login", "Home"))
            {
            <div id="form_right">
                <br>
                <h1>Admin Login</h1>
                <br /><br />
                <div class="input_container">
                    <i class="fa fa-envelope" aria-hidden="true" style="font-size:20px"></i>
                    @Html.TextBoxFor(i => i.UserName, new { placeholder = "UserName", @class = "input_field" })
                    <br />
                    
                    @if (ViewBag.UserName != null)
                    {
                        <p style="color:red;text-align:center;width:100% ;"> @ViewBag.UserName</p>
                    }
                    @*<input placeholder="Email" type="email" name="Email" id="field_email" class='input_field'>*@
                </div>

                <div class="input_container">
                    <i class="fa fa-lock" aria-hidden="true" style="font-size:25px"></i>
                    @Html.TextBoxFor(i => i.Password, new { placeholder = "Password", @class = "input_field" })
                    <br />
                    @if (ViewBag.Password != null)
                    {
                        
                        <p style="color:red;text-align:center;width:100% "> @ViewBag.Password</p>
                    }
                    @*<input placeholder="Password" type="password" name="Password" id="field_password" class='input_field'>*@
                </div>
                @if (ViewBag.ValidAdmin != null)
                {
                    <p style="color:red;text-align:center;">@ViewBag.ValidAdmin</p>
                }
                <input type="submit" value="Login" id='input_submit' class='input_field'>
            </div>
            }
        </div>
    </div>
    
    <script type="text/javascript" src="~/Scripts/Js/jquery-3.4.1.slim.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Js/bootstrap.min.js"></script>
</body>

</html>